<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <kendo-tabstrip (tabSelect)="onTabSelect($event)">
        <kendo-tabstrip-tab [title]="'Add Employee'" [selected]="true">
          <ng-template kendoTabContent>
            <div class="form-wrapper">
              <form class="k-form" (ngSubmit)="addUser()" #addUserForm="ngForm">
                <!-- Employee Name Input -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="k-form-field" for="name">
                       <span>Employee Name</span>
                       <span class="required"> *</span>
                       </label>
                    <div class="relative-wrapper">
                      <input id="name" type="text" name="fname" required ngModel #name="ngModel" class="form-control k-text-box">
                      <i *ngIf="name.valid && name.dirty" class="fa fa-check-circle"></i>
                    </div>

                    <div *ngIf="!name.valid && name.touched" class="help-block">
                      <p>Please Enter Employee Name</p>
                    </div>
                  </div>
                </div>

                <!-- Department DropDown Menu -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="k-form-field" for="department">
                                      <span>Department</span>
                                      <span class="required"> *</span>
                                      </label>
                    <div class="relative-wrapper">
                      <kendo-dropdownlist id="department" ngModel required #department class="form-control" [data]="listItems" [value]="'Basketball'">
                      </kendo-dropdownlist>
                      <i *ngIf="department.valid && department.dirty" class="fa fa-check-circle"></i>
                    </div>

                    <div *ngIf="!department.valid && department.touched" class="help-block">
                      <p>Please Enter Employee Name</p>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Search Employee'">
          <ng-template kendoTabContent>
            <p>
              The City of New York, often called New York City or simply New York, is the most populous city in the United States. With
              an estimated 2015 population of 8,550,405 distributed over a land area of just 305 square miles (790 km2), New York
              City is also the most densely populated major city in the United States. Located at the southern tip of the state
              of New York, the city is the center of the New York metropolitan area, one of the most populous urban agglomerations
              in the world.
            </p>
            <p>
              A global power city, New York City exerts a significant impact upon commerce, finance, media, art, fashion, research, technology,
              education, and entertainment, its fast pace defining the term New York minute. Home to the headquarters of the United
              Nations, New York is an important center for international diplomacy and has been described as the cultural and financial
              capital of the world.
            </p>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </div>
  </div>
</div>