<!--<div class="wrapper">
  <ul>
    <li class="menu-item"> <a routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-home"></i> Dashboard</a></li>
    <li class="menu-item"><a routerLink="add" routerLinkActive="active"><i class="fa fa-users"></i> Employees</a></li>
    <li class="menu-item"><a routerLink="search" routerLinkActive="active"><i class="fa fa-search"></i> Search Employee</a></li>
  </ul>
</div>-->

<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <div class="list-group">
    <a routerLink="/dashboard" routerLinkActive="active" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp; Dashboard
    </a>
    <a [routerLink]="['/add']" routerLinkActive="active" class="list-group-item">
      <i class="fa fa-fw fa-user-plus"></i>&nbsp; Add Employee
    </a>
    <a [routerLink]="['/empty']" routerLinkActive="active" class="list-group-item">
      <i class="fa fa-fw fa-edit"></i>&nbsp; Profile
    </a>
    <div class="header-fields">
      <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
          <span><i class="fa fa-user"></i>{{ userName }}</span>
        </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
          <ul class="submenu">
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-user"></i> Profile</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-envelope"></i> Inbox</span>
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">
                <span><i class="fa fa-fw fa-gear"></i> Settings</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/login']" (click)="onLoggedout()">
                <span><i class="fa fa-fw fa-power-off"></i> Log Out</span>
              </a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>