.wrapper {
    padding-top:150px;
    color:#fff;
    line-height:1.7;
}
.wrapper ul {
    padding:0;
}
.wrapper ul li {
    list-style:none;

}
.wrapper ul li a {
    text-decoration:none;
    color:#97999e;
    cursor:pointer;
    display:inline-block;
    width:100%;
    font-size:14px;
    padding:10px 0 10px 20px;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}
.wrapper ul li a:hover {
    color:#eee;
    background-color:rgba(1,1,1,.5);
}
.wrapper ul li a.active {
    color:#eee;
    background-color:rgba(1,1,1,.5);
}