/* General Styles */
*{
    box-sizing:border-box;
}
body {
    padding-top:70px;
    font-family: 'Raleway', sans-serif;
}
.pointer {
    cursor: pointer;
}
p {
    font-size:15px;
    font-weight:500;
    line-height:1.7;
    letter-spacing:.7px;
}

/* kindo Elements */
.k-window-titlebar {
    color: #fff;
    background-color: #222d32;
}
.k-window-title,
.k-tabstrip>.k-tabstrip-items .k-item .k-link {
    font-size:17px;
    font-weight:bold;
    letter-spacing:1px;
}
